/* Services section styles */
.services h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.services-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.services-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 25rem;
    margin-bottom: 1rem;
}

.services-container, .services-box {
    padding: 2rem 1rem 2.5rem;
    border-radius: 1.2rem;
    text-align: center;
    border: solid 0.15rem var(--bg-color-01);
    background-color: var(--bg-color-02);
    transition: 0.5s ease, background-color 0.3s, border-color 0.3s;
}

.services-container, .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.005);
}

.services-box i {
    font-size: 4.3rem;
    color: var(--main-color);
}

.services-box .btn {
    align-self: center;
    padding: 0.6rem 1.2rem;
    font-size: 0.9rem;
}
